{% extends 'base.html' %}
{% block title %}
    Home Page
{% endblock %}

{% block content %}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center " style="color:white">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <img src="https://mykaelandhisthoughts.files.wordpress.com/2021/06/ezhop212121.gif?w=500&zoom=2" alt="Ezhop", width="300">
            <h1 class="display-4 font-weight-normal">Welcome to EZhop</h1>
            <p class="lead font-weight-normal">Start purchasing products by clicking the link below</p>
            <a class="btn btn-primary" href="{{ url_for('market_page') }}">Get Started</a>
        </div>
        
        <div class="product-device box-shadow d-none d-md-block"></div>
        <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>
{% endblock %}