{% extends 'base.html' %}

{% block title %}
    Login Page
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container col-md-3">
        <br>
        <form method="POST", class="form-signin", style="color:white">
            {{ form.hidden_tag() }} <!--generate some token-->
            <div>
                <img src="https://mykaelandhisthoughts.files.wordpress.com/2021/06/ezhop212121.gif?w=500&zoom=2" alt="Ez Market", width="300">
                <h1 class="h3 mb-3 font-weight-normal">
                    Please Login
                </h1>
            </div>
    
            <div style="text-align: left;">
                <br> 
                {{ form.username.label() }}
                {{ form.username(class="form-control", placeholder="Mikael") }}
                <br>
                {{ form.password.label() }}
                {{ form.password(class="form-control", placeholder="Password") }}
                <br>
                {{ form.submit(class="btn btn-lg btn-block btn-outline-primary") }}
            </div>

            <br>
            <div class="checkbox">
                <h6>Don't have an account?</h6>
                <a class="btn btn-lg btn-outline-secondary" href="{{url_for('register_page')}}">Create Your Account Here!</a>
            </div>
        </form>
    </div>
    
</body>
{% endblock %}