{% extends 'base.html' %}

{% block title %}
    Register Page
{% endblock %}

{% block content %}
<body class="text-center">
    
    
</body>

<body class="text-center">
    <div class="container col-md-3">
        <br>
        <form method="POST", class="form-register", style="color:white">
            {{ form.hidden_tag() }} <!--generate some token-->
            <div>
                <img src="https://mykaelandhisthoughts.files.wordpress.com/2021/06/ezhop212121.gif?w=500&zoom=2" alt="Ez Market", width="300">
                <h1 class="h3 mb-3 font-weight-normal">
                    Please Create Your Account
                </h1>
            </div>
    
            <div style="text-align: left;">
                <br> 
                {{ form.username.label() }}
                {{ form.username(class="form-control", placeholder="Mikael") }}
                <br>
                {{ form.email_address.label() }}
                {{ form.email_address(class="form-control", placeholder="youremail@domain.com") }}
                <br>
                {{ form.password.label() }}
                {{ form.password(class="form-control", placeholder="Password") }}
                <br>
                {{ form.password_confirm.label() }}
                {{ form.password_confirm(class="form-control", placeholder="Confirm Password") }}
                
                <br>
                {{ form.submit(class="btn btn-lg btn-block btn-outline-primary") }}
            
                <br>
                <div class="checkbox" style="text-align: center;">
                    <h6>Already have an account?</h6>
                    <a class="btn btn-lg btn-outline-secondary" href="{{url_for('login_page')}}">Enter EZhop!</a>
                </div>
            
            </div>
        </form>
    </div>
    
</body>

{% endblock %}